<div class="container__block txt-admin">
  <h3>Txt to donate Controls</h3>
  <button id="donatemode" class="button">DONATE MODE</button>
  
  <div class="form-actions">
    <label for="donatemessage">Donation message (required)</label>
    <input id="donatemessage" type="text" class="text-field">
    <label for="donator">Donators name (optional, default is anonymous)</label>
    <input id="donator" type="text" class="text-field">
    <button id="donatedisplay" class="button">DISPLAY</button>
  </div>
</div>
