<div class="form-actions">
  <button class="button button-golive">GO LIVE! (Enter key)</button>
</div>
<div class="form-actions">
  <button id="twitterbutton" class="button">Twitter</button>
</div>
<div class="form-actions">
  <input id="godtext" type="text" class="text-field">
  <button id="godbutton" class="button">Voice of God</button>
</div>
<div class="form-actions controls-timer">
  <input id="timerinput" type="text" class="text-field">
  <button id="timerdisplay" class="button">Display timer</button>
  <button id="timerstart" class="button">Start timer</button>
</div>
