<div class="chrome">
  <div class="wrapper">
    <main>
      <div class="container">
        <div class="wrapper">
          <div class="container__block -half">
            <div class="simulators">
              <h3>Preview</h3>
              <div class="simulator -preview"></div>
              <h3>Live</h3>
              <div class="simulator -live"></div>
            </div>
          </div>
          <div class="container__block -half controls">
            <h1>Controls</h1>
            {{> generic}}
            {{> slides}}
            <hr>
            {{> donations}}
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
