<div class="chrome">
  <div class="wrapper">
    <main>
      <div class="container">
        <div class="wrapper">
          <div class="simulators">
            <div class="container__block -half">
              <h3>Preview</h3>
              <div class="simulator -preview"></div>
            </div>
            <div class="container__block -half">
              <h3>Live</h3>
              <div class="simulator -live"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container container__controls">
        <div class="wrapper">
          <div class="controls">
            {{> generic}}
            {{> slides}}
            {{> donations}}
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
